language: node_js
notifications:
  email: false
  slack:
  - rooms:
    - secure: jfJVJDzhgN4i301MkJ1OEmKjVqGWQfp6gMPMwfUqA1nKlszS+AH211C56aoK8m9Ky2F6UXurssRPw1azuMTfeJ19doeD/KTiEGIacdr0xIH92On/uWoRPU+iOw5YMzeBQ1WjsL+B7kHU9bp2tSvw23EsQYuvZKa4AjDMHtxgpF9dovnuUA8rkDIO6pfi1Wq71fxH8ZJ0Ip3FO4qvJD+1Od9wYSGgmWrFAvplbtDCUgfx2IrXncnRNfp0kmoIfyuoUjZBg4nY2QH8TAarzOVoBhGmS1eGu9X6iBkCCdkKXRBKfzQL6syDLe8pp2pOsCfnJZVecON4YtkDZ3DFEQLm+AmGHSAhzlgpL2OXg5UrW0heB8aAWEbyAqLXVO+BV6H5+RW5fh9FcoU4zST1mTr0wuo86sf0BKoZj73ufmzwuXQWSXzrzxGkp0ITQdvSIdCAhGD5aAxHS2A2UK58ETWJhuXRNNWt6NiPj3Sebxb0Q7wViDYXS1K+U8mXsnAvynXE4wZTW30Q0JeopT5zjEa3xow7wgrhKOkSYPyjoVQt47uXUiQ0nmFdImF6+84iFJVgUYFDbdeCsSZwqq6STjI4qzZugS7c6Lgdbwx4GvMcDQ2tIwIBX+BbGMvzZOV1n/YJDInbd0iKzhcQkqqV8pkOTxUgnBWqbSgPhWyceAC8w/M=
    if: branch = master
    on_failure: always
  - rooms:
      - secure: V3sFRmrXT6GpX6/vn98w/AAwaBi/+e8HDPVw3ZeT2CpmYCEWDDYZNMUMwjidsV90cDNez3lHf1unXnX0DENg3a2qhCk0o54xYXwVHXe8Y7GjiOLNtuXt4PEi5ABZmm0tBX7ZCDD787jgZZKn72BNy1kvNXEyrKLBNPnHpimq/IeA1RXAM0ym/iHFL7zwWig5AQwKkQDgzyy6SXJs5QYbyYVXL4XMB+Om27ZOtdGcm6BBH/ylWOow03Wn9bTy00syBGD0VopnhAyG+cvBOM3gZTFZYXHZ8fWfSbke2/L786ak55uXFb2j++CGQ+0QCKcG6YghYbFDvyAa8FSnQkMm9vaomH8tqAuvh4OE9+LVWKSUNLvNZPQi4fs84CRmAoxSEpFn0DJdTS3cwjJBPWJ8FsKXq/LOnJPiSR6Fs87K26bEDZymrEC9WmC5ffFHYu2Qr+HeU8sPWRMz4oWSMOHRMR/bSbhs9T2uGRFRJP3VKLJntvC9QHVBBVKrWm3ACMem3Xej7YuVZSJSSuS989mLBVCty5G/QQik3z72v7J9vtu732u2jnUzwWiEmshmvpgMcMZJYpOQWx1X85OzhHIvv4BIwwaXrv25GJ+qf8SfaU1Ieu4GgRFffLHX9Eh1YaULCCsuGmpFvXf6pnwrYj5KXwHVZDTG8tpsiOOYeX/FwI4=
    if: branch = prod
    on_failure: always
dist: xenial
os: linux
node_js:
- '14'
cache:
  yarn: true
env:
  global:
    - REPO="git@github.com:RedHatInsights/notifications-frontend-build"
    - REPO_DIR="notifications-frontend-build"
    - BRANCH=${TRAVIS_PULL_REQUEST_BRANCH:-$TRAVIS_BRANCH}
    - NODE_OPTIONS="--max-old-space-size=4096 --max_old_space_size=4096"
  jobs:
    - ACTION=lint
    - ACTION=ci:test
    - ACTION=build
    - ACTION=smoketest
    - ACTION=ci:pinned-deps
script: yarn $ACTION
jobs:
  include:
    - stage: Build & Deploy
      if: type = push
      script: yarn build:prod && curl -sSL https://raw.githubusercontent.com/RedHatInsights/insights-frontend-builder-common/master/src/bootstrap.sh | bash -s
