// Importing Global Variables
@import '~@redhat-cloud-services/frontend-components/index.css';
@import '~@redhat-cloud-services/frontend-components-notifications/index.css';

.pf-v6-c-wizard__main-body {
  max-height: 100%;
}

.page__notifications#root {
  --pf-v6-c-page__main-section--BackgroundColor: var(--pf-t--global--background--color--primary--default);
}

.pf-v6-c-card__cover-image {
  position: relative;
  background-image: url('../assets/images/notifications-image.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right bottom;
  border: var(--pf-t--global--spacer--lg) solid transparent;
}

.noti-c-card-getting-started {
  .pf-v6-c-expandable-section {
    &__toggle {
      border-bottom: 1px solid var(--pf-t--global--border--color--default);
      padding: var(--pf-t--global--spacer--md) 0 var(--pf-t--global--spacer--lg) var(--pf-t--global--spacer--md);
      width: 100%;
    }
    &__toggle-icon {
      padding-top: var(--pf-t--global--spacer--xs);
    }
    &__toggle-text {
      color: var(--pf-t--global--text--color--regular);
      font-size: var(--pf-t--global--font--size--lg);
    }
    &__content {
      margin-top: 0;
      .pf-v6-c-icon__content {
        --pf-v6-c-icon__content--Color: var(--pf-t--global--text--color--link--default);
      }
    }
  }
}

.noti-c-card-configure {
  border-left: 1px solid var(--pf-t--global--border--color--default);
}

.noti-c-table-border-top {
  border-top: var(--pf-v6-c-table--border-width--base) solid var(--pf-v6-c-table--BorderColor);
}

.pf-v6-c-notification-drawer__header-action > .pf-v6-c-menu-toggle {
  flex-shrink: 0;
}
